@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --primary-color: #40df40;
    --secondary-color: #ff0000b2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish',sans-serif;
}

.container{
    width: 700px;
    margin: auto;
    padding: 0px 15px;
}

.contentWrapper{
    padding: 30px;
    border: 1px solid;
    margin: 50px 0px;
    border-radius: 5px;
}

.header{
    text-align: center;
    padding-bottom: 30px;
}

.balance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    font-size: 20px;
}

button{
    background-color: var(--primary-color);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #FFF;
}

.addTransaction{
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    .radioBtn{
        display: flex;
        justify-content: center;
        gap: 15px;
        padding: 15px;
    }   
}
.info{
    padding-top: 10px;
    input{
        padding: 15px;
        width: 100%;
        border: 1px solid #969292;
        border-radius: 5px;
    }
}

.transactionDetails{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 20px;
    .expense{
        border: 1px solid;
        border-radius: 5px;
        padding: 5px 20px;
        span{
            color: var(--secondary-color);
        }
    }
    .income{
        border: 1px solid;
        border-radius: 5px;
        padding: 5px 20px;
        span{
            color: var(--primary-color);
        }
    }
}



.transactionsContainer{
    h2{
        padding-bottom: 15px;
    }
    input{
        background-color: #ece5e5;
        padding: 15px;
        border: none;
        width: 100%;
        border-radius: 5px;
    }
}